<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar " id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand">JobPortal</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>
  
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link">About</a></li>
              <li class="nav-item"><a routerLink="/postjob" class="nav-link">Post Vacancies</a></li>
              <li class="nav-item"><a routerLink="/viewjobs" class="nav-link">View Jobs</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link">Contact</a></li>
              <a class="nav-item nav-link" (click)="logout()">Logout</a>
            </ul>
          </div>
        </div>
      </nav>

      
