<app-header></app-header>
<div class="container">
    <div class="userprofile">
        <div class="row">
            
            <div class="col-5" id="jobseekerdiv" style="display: none">
                <br>
                <div class="row">
                    <div class="col-4"> </div>
                    <div class="col-7">
                        <h4 style="font-family:  Roboto">JOBSEEKER PROFILE</h4>
                    </div>
                    <div class="col-4"> </div>
                </div>

                <form name="userprofile">
                    <div class="form-group">

                        <table>
                            <tr>
                                <td><label class="form-text">Name</label></td>
                                <td>{{profile.uname}}</td>
                                
                            </tr>

                            <tr>
                                <td><label class="form-text">Email ID</label></td>
                                <td>{{profile.email}}</td>
                            </tr>

                            <tr>
                                <td><label class="form-text">Mobile</label></td>
                                <td>{{profile.mobno}}</td>
                            </tr>
                            <tr>
                                <td><label class="form-text">Present Address</label></td>
                                <td><textarea disabled name="presentAddress"></textarea></td>
                            </tr>
                            <tr>
                                <td><label class="form-text">Current Location</label></td>
                                <td>{{profile.location}}</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><input type="button" class="btn btn-success" value="EDIT"
                                        (click)="editprofile(profile._id)" /></td>
                            </tr>

                                <!--Educational details starts here-->
                                <tr><h5 style="font-family:  Roboto">Education details: </h5></tr>

                                <td><label class="form-text" style="font-family: Verdana; color: red">10th std</label></td>
                                
                                <tr>
                                    <td><label class="form-text">Board of Examination</label></td>
                                    <td><input type="text" name="board10th"></td>
                                </tr>
                                <tr>
                                    <td><label class="form-text">School</label></td>
                                    <td><input type="text" name="school10th"></td>  
                                </tr>
                                <tr>
                                        <td><label class="form-text">Percentage</label></td>
                                        <td><input type="text" name="percentage10th"></td>
                                </tr>

                                <tr>
                                        <td><label class="form-text">Year of Passing</label></td>
                                        <td><input type="text" name="yearofpass10th"></td>
                                </tr>
                                <td></td>
                                <tr>
                                <td></td>
                                <td><input type="button" class="btn btn-success" value="EDIT"/></td>
                                </tr>
                                <td><label class="form-text" style="font-family: Verdana; color: red">12th std</label></td>

                                <tr>
                                    <td><label class="form-text">Board of Examination</label></td>
                                    <td><input type="text" name="board12th"></td>
                                </tr>
                                <tr>
                                    <td><label class="form-text">Branch</label></td>
                                    <td><input type="text" name="branch12th"></td>
                                </tr>

                                <tr>
                                    <td><label class="form-text">School</label></td>
                                    <td><input type="text" name="school12th"></td>
                                </tr>
                                <tr>
                                        <td><label class="form-text">Percentage</label></td>
                                        <td><input type="text" name="percentage12th"></td>
                                </tr>

                                <tr>
                                        <td><label class="form-text">Year of Passing</label></td>
                                        <td><input type="text" name="yearofpass12th"></td>
                                </tr>
                                <tr>
                                <td></td>
                                <td><input type="button" class="btn btn-success" value="EDIT"/></td>
                                </tr>
                                <td><label class="form-text" style="font-family: Verdana; color: red">College</label></td>

                                <tr>
                                        <td><label class="form-text">Course</label></td>
                                        <td><input type="text" name="course"></td>
                                </tr>

                                <tr>
                                        <td><label class="form-text">Specialization</label></td>
                                        <td><input type="text" name="specialization"></td>
                                </tr>

                                <tr>
                                        <td><label class="form-text">University</label></td>
                                        <td><input type="text" name="university"></td>
                                </tr>

                                <tr>
                                        <td><label class="form-text">College</label></td>
                                        <td><input type="text" name="college"></td>
                                </tr>
                                <tr>
                                        <td><label class="form-text">Percentage</label></td>
                                        <td><input type="text" name="percentageclg"></td>
                                </tr>

                                <tr>
                                        <td><label class="form-text">Year of Passing</label></td>
                                        <td><input type="text" name="yopcollege"></td>
                                </tr>
                                <tr>
                                <td></td>
                                <td><input type="button" class="btn btn-success" value="EDIT"
                                        (click)="editprofile(profile.uname)" /></td>
                                </tr>
                                <!--Educational details ends here-->
                        </table>

                        <br>

                        <br>
                    </div>
                </form>
            </div>

        
            <!--Recruiterdiv starts here-->
            <div class="col-5" id="recruiterdiv" style="display: none">
                <br>
                    <div class="row">
                        <div class="col-4"> </div>
                        <div class="col-7">
                            <h4 style="font-family:  Roboto">RECRUITER PROFILE</h4>
                        </div>
                        <div class="col-4"> </div>
                    </div>
                    <br>
                        <form name="recruiterform" style="width: 450px;">
                            <div class="form-group">

                                <table>
                                    <tr>
                                        <td><label class="form-text">Name</label></td>
                                        <td>{{profile.uname}}</td>
                                    </tr>

                                    <tr>
                                        <td><label class="form-text">Email ID</label></td>
                                        <td>{{profile.email}}</td>
                                    </tr>

                                    <tr>
                                        <td><label class="form-text">Mobile</label></td>
                                        <td>{{profile.mobno}}</td>
                                    </tr>

                                    <tr>
                                        <td><label class="form-text">Company</label></td>
                                        <td>{{profile.company}}</td>
                                    </tr>

                                    <tr>
                                        <td><label class="form-text">Designation</label></td>
                                        <td>{{profile.designation}}</td>
                                    </tr>

                                    <tr>
                                        <td><label class="form-text">Company Address</label></td>
                                        <td><textarea name="" id="" cols="30" rows="10">{{profile.caddress}}</textarea></td>
                                    </tr>

                                    <tr>
                                        <td><label class="form-text">Company Website</label></td>
                                        <td>{{profile.cwebsite}}</td>
                                    </tr>

                                    <tr>
                                        <td><input type="button" class="btn btn-success" value="EDIT"
                                                (click)="editrecruiter(profile._id)" /></td>
                                    </tr>
                                </table>

                                <br>

                                <br>
                            </div>
                             <!--Recruiterdiv ends here-->

                        </form>
                    

                </div>
            </div>

            <div class="col-3"></div>
        </div>
    </div>

<app-footer></app-footer>